/*
 цвет цвет заголовков #212121
цвет основного текста #757575

основноий белый #FFFFFF
акцент #2196F3

черный лого #000000
адрес в футере rgba(255, 255, 255, 0.6)

bgc футера #2F303A
вторичный цвет фона #F5F4FA

шрифт лого Raleway
осночной шрифт Roboto
*/

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --primery-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --footer-contact-link-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent-logo {
  color: var(--accent-color);
}

/* site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* contact links */

.contact-link {
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover {
  color: var(--accent-color);
}

.footer-contact-link {
  /* color: rgba(255, 255, 255, 0.6); */
}

/* hero */

.hero-title {
  /* color: var(--primery-white-color); */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* feature-list */

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* command list */

.command-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  text-align: center;
}

.command-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* list of projects */

.projects-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list .text {
  color: var(--primery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

/* paragraph */

.paragraph {
  color: var(--primery-text-color);
}

/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button.primery {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

.button.secondary:hover,
..button.secondary:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

.button.secondary,
.button.primery:hover,
.button.primery:focus {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}
