.doing {
  @media screen and (max-width: $tabletOnly) {
    display: none;
  }
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doing-item {
  position: relative;
}

.duing-box {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.doing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
