.main-nav {
  position: relative;

  @media screen and(max-width:$mobileOnly) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
  }

  @media screen and(min-width:$tablet) {
    display: flex;
    align-items: center;
  }
}

.border {
  border-bottom: 1px solid var(--header-border);
}
