.overlay {
  max-width: 1600px;
  // min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-480.jpg);
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  // background-image

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-480@2x.jpg);
  }

  // tablet

  @media (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-768.jpg);

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-768@2x.jpg);
    }
  }

  //desctop

  @media (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-1170.jpg);

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-1170@2x.jpg);
    }
  }
}

.centered {
  text-align: center;
}

.hero-title {
  color: var(--primery-white-color);
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
